<body class="homepage">
<%= link_to 'Back', interviews_path, class: 'btn btn-lg btn-info' %>
<br>
<br>
<br>

<!--   <div class="panel panel-default"> -->
    <div class="panel-heading question"><h1><%= @interview.title %></h3></div>
    <hr>
    <div class='view'>

      <strong><%= @interview.name %></strong> asked <%= time_ago_in_words(@interview.created_at) %> ago:
    <p>
      <%= @interview.description %>
    </p>

      <%= (link_to 'Edit', edit_interview_path(@interview)) if current_user.id == @interview.user_id %>
      <%= (link_to 'Delete', interview_path(@interview), method: :delete, data: { confirm: 'Are you sure?' }) if current_user.id == @interview.user_id %>
      </div>
    </div>
  </div>

  <div class="container page">
  <hr>
  <!-- <div class="panel panel-default"> -->
    <div class="panel-heading question"><h2>Comments</h2></div>
      <div class='view'>
        <% @comments.each do |comment| %>
          <strong><%= comment.user_name %></strong> -
          <%= time_ago_in_words(comment.created_at) %> ago
          <p><%= comment.body %></p>
          <%= (link_to 'Edit', edit_comment_path(comment)) if current_user.id == comment.user_id %>
          <%= (link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }) if current_user.id == comment.user_id %></p>
        <% end %>
        <%= render 'comments/form' %>
      </div>
      </div>
    </div>
  </div>

</body>
