<body class="homepage">
<%= link_to '', interviews_path, class: 'glyphicon glyphicon-chevron-left', style: "font-size:28px;" %>
<br>
<br>
<br>

    <div class="panel-heading question"><h1><%= @interview.title %></h3></div>
    <hr>
    <div class='view'>

      <strong><%= @interview.name %></strong> asked <%= time_ago_in_words(@interview.created_at) %> ago:
    <p>
      <%= @interview.description %>
    </p>

      <%= (link_to '', edit_interview_path(@interview), class: 'glyphicon glyphicon-edit' ) if current_user.id == @interview.user_id %>
      <%= (link_to '', interview_path(@interview), method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash') if current_user.id == @interview.user_id %>
      </div>
    </div>
  </div>

  <div class="container page">
  <hr>
  <!-- <div class="panel panel-default"> -->
    <div class="panel-heading question"><h2>Comments</h2></div>
      <div class='view comment'>
        <% @comments.each do |comment| %>
          <strong><%= comment.user_name %></strong> -
          <%= time_ago_in_words(comment.created_at) %> ago
          <p><%= comment.body %></p>
          <%= link_to '', upvote_comment_path(comment), method: :post, class: 'glyphicon glyphicon-thumbs-up' %><br><br>
          <%= (link_to '', edit_comment_path(comment), class: 'glyphicon glyphicon-edit') if current_user.id == comment.user_id %>
          <%= (link_to '', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash') if current_user.id == comment.user_id %></p>
          <hr>
        <% end %>
        <%= render 'comments/form' %>
      </div>
      </div>
    </div>
  </div>

</body>
