<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @problem.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.description %>
</p>

<p>
  <strong>Vote count:</strong>
  <%= @problem.vote_count %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @problem.tags %>
</p>

<p>
  <strong>Solved:</strong>
  <%= @problem.solved %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
