<body class="homepage">
<%= link_to 'Back', problems_path, class: 'btn btn-lg btn-info' %>
<br>
<br>
<br>

<!--   <div class="panel panel-default"> -->
    <div class="panel-heading question"><h1><%= @problem.title %></h3></div>
    <hr>
    <div class='view'>

      <strong><%= @problem.name %></strong> asked <%= time_ago_in_words(@problem.created_at) %> ago:
    <p>
      <%= @problem.description %>
    </p>

      <%= (link_to 'Edit', edit_problem_path(@problem)) if current_user.id == @problem.user_id %>
      <%= (link_to 'Delete', problem_path(@problem), method: :delete, data: { confirm: 'Are you sure?' }) if current_user.id == @problem.user_id %>
      </div>
    </div>
  </div>

  <div class="container page">
  <hr>
  <!-- <div class="panel panel-default"> -->
    <div class="panel-heading question"><h2>Comments</h2></div>
      <div class='view'>
        <% @comments.each do |comment| %>
            <%= pluralize(comment.votes.count, "vote") %>
            <%= button_to '+1', upvote_comment_path(comment), method: :post %>
          <strong><%= comment.user_name %></strong> -
          <%= time_ago_in_words(comment.created_at) %> ago
          <p><%= comment.body %></p>
          <%= (link_to 'Edit', edit_comment_path(comment)) if current_user.id == comment.user_id %>
          <%= (link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }) if current_user.id == comment.user_id %></p>
        <% end %>
        <%= render 'comments/form' %>
        </div>
      </div>
    </div>


</body>
