<p id="notice"><%= notice %></p>

<div class="panel panel-info">

  <div class="panel-heading"><h1>Coding Resources</h1></div>

  <br>
  <%= link_to 'New Resource', new_resource_path, class: 'btn btn-info' %>

  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Asked</th>
        <th>By</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @resources.each do |resource| %>
        <tr>
          <td><%= resource.title %></td>
          <td><%= resource.description %></td>
          <td><%= time_ago_in_words(resource.created_at) %></td>
          <td><%= resource.name %></td>
          <td><%= link_to 'Show', resource %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'New Resource', new_resource_path, class: 'btn btn-info' %>
  <br>
  <br>
</div>