<p id="notice"><%= notice %></p>

<div class="panel panel-info">

  <div class="panel-heading"><h1>Coding Resources</h1></div>

  <div class='button'>
  <%= link_to 'New Resource', new_resource_path, class: 'btn btn-info' %>
  </div>

  <div class='question'>
  <% @resources.each do |resource| %>
   <hr>
    <p class='title'><%= resource.title %></p>
    <p class='description'><%= resource.description %></p>
    <p class='askedby'>Asked by <%= resource.name %> - <%= time_ago_in_words(resource.created_at) %> ago</p>
    <p class='show'><%= link_to 'Show', resource %></p>
    <% end %>
  </div>


</div>